In [1]:
__imp

Libraries have been loaded

## Load Additional Libraries

In [2]:
basepath = os.path.expanduser('../')

## Load Data

In [3]:
%%time

app_train = pd.read_csv(os.path.join(basepath, 'data/raw/application_train.csv.zip'))
app_test  = pd.read_csv(os.path.join(basepath, 'data/raw/application_test.csv.zip'))

CPU times: user 5.54 s, sys: 274 ms, total: 5.82 s
Wall time: 6.46 s

### Dataset Size ( Original )

|Table Name|Size| Reduced Size |
|----------|----| -------------|
|application_train|543.7 MB| 103.5 MB|
|application_test|85.9 MB| 16.0 MB |
|bureau|512.1 MB| 85.0MB|
|bureau_balance|2.1 GB|157 MB|
|credit_card_balance|875.7 MB| 261 MB|
|installments_payments|830.4 MB| 312 MB |
|pos_cash|1.1 GB| 172 MB |
|prev_app|1.9 GB| 131 MB |

In [37]:
!ls -alh ../data/processed/

total 1.4G
drwxrwxr-x 2 abhishek abhishek 4.0K May 24 22:24 .
drwxrwxr-x 7 abhishek abhishek 4.0K May 19 23:48 ..
-rw-r--r-- 1 abhishek abhishek  16M May 22 14:19 application_test.feather
-rw-r--r-- 1 abhishek abhishek 100M May 22 14:19 application_train.feather
-rw-r--r-- 1 abhishek abhishek  70M May 22 14:23 application_train_fold.feather
-rw-r--r-- 1 abhishek abhishek  30M May 22 14:23 application_val_fold.feather
-rw-r--r-- 1 abhishek abhishek 157M May 23 23:52 bureau_balance.feather
-rw-r--r-- 1 abhishek abhishek  85M May 21 18:22 bureau.feather
-rw-rw-r-- 1 abhishek abhishek 7.1M May 24 13:09 bureau_ratio_overdue_sum_credit.pkl
-rw-rw-r-- 1 abhishek abhishek 261M May 24 22:11 credit_card_balance.pkl
-rw-rw-r-- 1 abhishek abhishek    0 May 19 19:40 .gitkeep
-rw-rw-r-- 1 abhishek abhishek 312M May 24 22:24 installments_payments.pkl
-rw-rw-r-- 1 abhishek abhishek 7.1M May 24 17:09 missing_bureau_details.pkl
-rw-rw-r-- 1 abhishek abhishek 7.1M May 24 17:06 missing_bureau.pkl
-rw-rw-r-- 1 abhishek abhishek 172M May 24 22:20 pos_cash.pkl
-rw-rw-r-- 1 abhishek abhishek 131M May 24 22:16 prev_app.pkl
-rw-rw-r-- 1 abhishek abhishek 1.7M May 22 14:23 train_indices.pkl
-rw-rw-r-- 1 abhishek abhishek 722K May 22 14:23 val_indices.pkl

In [6]:
app_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 543.7 MB

In [7]:
app_test.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 85.9 MB

In [9]:
# number of unique values for every feature of type int64 ( train )
app_train.select_dtypes(include=['int64']).nunique()

SK_ID_CURR                     307511
TARGET                              2
CNT_CHILDREN                       15
DAYS_BIRTH                      17460
DAYS_EMPLOYED                   12574
DAYS_ID_PUBLISH                  6168
FLAG_MOBIL                          2
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
FLAG_CONT_MOBILE                    2
FLAG_PHONE                          2
FLAG_EMAIL                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
HOUR_APPR_PROCESS_START            24
REG_REGION_NOT_LIVE_REGION          2
REG_REGION_NOT_WORK_REGION          2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
dtype: int64

In [12]:
# number of unique values for every feature of type int64 ( test )
app_test.select_dtypes(include=['int64']).nunique()

SK_ID_CURR                     48744
CNT_CHILDREN                      11
DAYS_BIRTH                     15477
DAYS_EMPLOYED                   7863
DAYS_ID_PUBLISH                 5880
FLAG_MOBIL                         2
FLAG_EMP_PHONE                     2
FLAG_WORK_PHONE                    2
FLAG_CONT_MOBILE                   2
FLAG_PHONE                         2
FLAG_EMAIL                         2
REGION_RATING_CLIENT               3
REGION_RATING_CLIENT_W_CITY        4
HOUR_APPR_PROCESS_START           24
REG_REGION_NOT_LIVE_REGION         2
REG_REGION_NOT_WORK_REGION         2
LIVE_REGION_NOT_WORK_REGION        2
REG_CITY_NOT_LIVE_CITY             2
REG_CITY_NOT_WORK_CITY             2
LIVE_CITY_NOT_WORK_CITY            2
FLAG_DOCUMENT_2                    1
FLAG_DOCUMENT_3                    2
FLAG_DOCUMENT_4                    2
FLAG_DOCUMENT_5                    2
FLAG_DOCUMENT_6                    2
FLAG_DOCUMENT_7                    2
FLAG_DOCUMENT_8                    2
FLAG_DOCUMENT_9                    2
FLAG_DOCUMENT_10                   1
FLAG_DOCUMENT_11                   2
FLAG_DOCUMENT_12                   1
FLAG_DOCUMENT_13                   1
FLAG_DOCUMENT_14                   1
FLAG_DOCUMENT_15                   1
FLAG_DOCUMENT_16                   1
FLAG_DOCUMENT_17                   1
FLAG_DOCUMENT_18                   2
FLAG_DOCUMENT_19                   1
FLAG_DOCUMENT_20                   1
FLAG_DOCUMENT_21                   1
dtype: int64

In [14]:
# number of unique values for every feature of type object ( train )
app_train.select_dtypes(include=['object']).nunique()

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [16]:
# number of unique values for every feature of type object ( test )
app_test.select_dtypes(include=['object']).nunique()

NAME_CONTRACT_TYPE             2
CODE_GENDER                    2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               7
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [21]:
# maximum feature value of type float64 ( train )
app_train.select_dtypes(include=['float64']).max()

AMT_INCOME_TOTAL                1.170000e+08
AMT_CREDIT                      4.050000e+06
AMT_ANNUITY                     2.580255e+05
AMT_GOODS_PRICE                 4.050000e+06
REGION_POPULATION_RELATIVE      7.250800e-02
DAYS_REGISTRATION               0.000000e+00
OWN_CAR_AGE                     9.100000e+01
CNT_FAM_MEMBERS                 2.000000e+01
EXT_SOURCE_1                    9.626928e-01
EXT_SOURCE_2                    8.549997e-01
EXT_SOURCE_3                    8.960095e-01
APARTMENTS_AVG                  1.000000e+00
BASEMENTAREA_AVG                1.000000e+00
YEARS_BEGINEXPLUATATION_AVG     1.000000e+00
YEARS_BUILD_AVG                 1.000000e+00
COMMONAREA_AVG                  1.000000e+00
ELEVATORS_AVG                   1.000000e+00
ENTRANCES_AVG                   1.000000e+00
FLOORSMAX_AVG                   1.000000e+00
FLOORSMIN_AVG                   1.000000e+00
LANDAREA_AVG                    1.000000e+00
LIVINGAPARTMENTS_AVG            1.000000e+00
LIVINGAREA_AVG                  1.000000e+00
NONLIVINGAPARTMENTS_AVG         1.000000e+00
NONLIVINGAREA_AVG               1.000000e+00
APARTMENTS_MODE                 1.000000e+00
BASEMENTAREA_MODE               1.000000e+00
YEARS_BEGINEXPLUATATION_MODE    1.000000e+00
YEARS_BUILD_MODE                1.000000e+00
COMMONAREA_MODE                 1.000000e+00
                                    ...
LIVINGAPARTMENTS_MODE           1.000000e+00
LIVINGAREA_MODE                 1.000000e+00
NONLIVINGAPARTMENTS_MODE        1.000000e+00
NONLIVINGAREA_MODE              1.000000e+00
APARTMENTS_MEDI                 1.000000e+00
BASEMENTAREA_MEDI               1.000000e+00
YEARS_BEGINEXPLUATATION_MEDI    1.000000e+00
YEARS_BUILD_MEDI                1.000000e+00
COMMONAREA_MEDI                 1.000000e+00
ELEVATORS_MEDI                  1.000000e+00
ENTRANCES_MEDI                  1.000000e+00
FLOORSMAX_MEDI                  1.000000e+00
FLOORSMIN_MEDI                  1.000000e+00
LANDAREA_MEDI                   1.000000e+00
LIVINGAPARTMENTS_MEDI           1.000000e+00
LIVINGAREA_MEDI                 1.000000e+00
NONLIVINGAPARTMENTS_MEDI        1.000000e+00
NONLIVINGAREA_MEDI              1.000000e+00
TOTALAREA_MODE                  1.000000e+00
OBS_30_CNT_SOCIAL_CIRCLE        3.480000e+02
DEF_30_CNT_SOCIAL_CIRCLE        3.400000e+01
OBS_60_CNT_SOCIAL_CIRCLE        3.440000e+02
DEF_60_CNT_SOCIAL_CIRCLE        2.400000e+01
DAYS_LAST_PHONE_CHANGE          0.000000e+00
AMT_REQ_CREDIT_BUREAU_HOUR      4.000000e+00
AMT_REQ_CREDIT_BUREAU_DAY       9.000000e+00
AMT_REQ_CREDIT_BUREAU_WEEK      8.000000e+00
AMT_REQ_CREDIT_BUREAU_MON       2.700000e+01
AMT_REQ_CREDIT_BUREAU_QRT       2.610000e+02
AMT_REQ_CREDIT_BUREAU_YEAR      2.500000e+01
Length: 65, dtype: float64

In [22]:
# maximum feature value of type float64 ( test )
app_test.select_dtypes(include=['float64']).max()

AMT_INCOME_TOTAL                4.410000e+06
AMT_CREDIT                      2.245500e+06
AMT_ANNUITY                     1.805760e+05
AMT_GOODS_PRICE                 2.245500e+06
REGION_POPULATION_RELATIVE      7.250800e-02
DAYS_REGISTRATION               0.000000e+00
OWN_CAR_AGE                     7.400000e+01
CNT_FAM_MEMBERS                 2.100000e+01
EXT_SOURCE_1                    9.391445e-01
EXT_SOURCE_2                    8.549997e-01
EXT_SOURCE_3                    8.825303e-01
APARTMENTS_AVG                  1.000000e+00
BASEMENTAREA_AVG                1.000000e+00
YEARS_BEGINEXPLUATATION_AVG     1.000000e+00
YEARS_BUILD_AVG                 1.000000e+00
COMMONAREA_AVG                  1.000000e+00
ELEVATORS_AVG                   1.000000e+00
ENTRANCES_AVG                   1.000000e+00
FLOORSMAX_AVG                   1.000000e+00
FLOORSMIN_AVG                   1.000000e+00
LANDAREA_AVG                    1.000000e+00
LIVINGAPARTMENTS_AVG            1.000000e+00
LIVINGAREA_AVG                  1.000000e+00
NONLIVINGAPARTMENTS_AVG         1.000000e+00
NONLIVINGAREA_AVG               1.000000e+00
APARTMENTS_MODE                 1.000000e+00
BASEMENTAREA_MODE               1.000000e+00
YEARS_BEGINEXPLUATATION_MODE    1.000000e+00
YEARS_BUILD_MODE                1.000000e+00
COMMONAREA_MODE                 1.000000e+00
                                    ...
LIVINGAPARTMENTS_MODE           1.000000e+00
LIVINGAREA_MODE                 1.000000e+00
NONLIVINGAPARTMENTS_MODE        1.000000e+00
NONLIVINGAREA_MODE              1.000000e+00
APARTMENTS_MEDI                 1.000000e+00
BASEMENTAREA_MEDI               1.000000e+00
YEARS_BEGINEXPLUATATION_MEDI    1.000000e+00
YEARS_BUILD_MEDI                1.000000e+00
COMMONAREA_MEDI                 1.000000e+00
ELEVATORS_MEDI                  1.000000e+00
ENTRANCES_MEDI                  1.000000e+00
FLOORSMAX_MEDI                  1.000000e+00
FLOORSMIN_MEDI                  1.000000e+00
LANDAREA_MEDI                   1.000000e+00
LIVINGAPARTMENTS_MEDI           1.000000e+00
LIVINGAREA_MEDI                 1.000000e+00
NONLIVINGAPARTMENTS_MEDI        1.000000e+00
NONLIVINGAREA_MEDI              1.000000e+00
TOTALAREA_MODE                  1.000000e+00
OBS_30_CNT_SOCIAL_CIRCLE        3.540000e+02
DEF_30_CNT_SOCIAL_CIRCLE        3.400000e+01
OBS_60_CNT_SOCIAL_CIRCLE        3.510000e+02
DEF_60_CNT_SOCIAL_CIRCLE        2.400000e+01
DAYS_LAST_PHONE_CHANGE          0.000000e+00
AMT_REQ_CREDIT_BUREAU_HOUR      2.000000e+00
AMT_REQ_CREDIT_BUREAU_DAY       2.000000e+00
AMT_REQ_CREDIT_BUREAU_WEEK      2.000000e+00
AMT_REQ_CREDIT_BUREAU_MON       6.000000e+00
AMT_REQ_CREDIT_BUREAU_QRT       7.000000e+00
AMT_REQ_CREDIT_BUREAU_YEAR      1.700000e+01
Length: 65, dtype: float64

In [12]:
%%time

# bureau         = pd.read_csv(os.path.join(basepath, 'data/raw/bureau.csv.zip'))
bureau_balance = pd.read_csv(os.path.join(basepath, 'data/raw/bureau_balance.csv.zip'))

CPU times: user 6.81 s, sys: 727 ms, total: 7.54 s
Wall time: 7.92 s

In [42]:
bureau.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
SK_ID_CURR                int64
SK_ID_BUREAU              int64
CREDIT_ACTIVE             object
CREDIT_CURRENCY           object
DAYS_CREDIT               int64
CREDIT_DAY_OVERDUE        int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG        int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
CREDIT_TYPE               object
DAYS_CREDIT_UPDATE        int64
AMT_ANNUITY               float64
dtypes: float64(8), int64(6), object(3)
memory usage: 512.1 MB

In [25]:
bureau.select_dtypes(include=['int64']).nunique()

SK_ID_CURR             305811
SK_ID_BUREAU          1716428
DAYS_CREDIT              2923
CREDIT_DAY_OVERDUE        942
CNT_CREDIT_PROLONG         10
DAYS_CREDIT_UPDATE       2982
dtype: int64

In [27]:
bureau.select_dtypes(include=['object']).nunique()

CREDIT_ACTIVE       4
CREDIT_CURRENCY     4
CREDIT_TYPE        15
dtype: int64

In [28]:
bureau.select_dtypes(include=['float64']).nunique()

DAYS_CREDIT_ENDDATE        14096
DAYS_ENDDATE_FACT           2917
AMT_CREDIT_MAX_OVERDUE     68251
AMT_CREDIT_SUM            236708
AMT_CREDIT_SUM_DEBT       226537
AMT_CREDIT_SUM_LIMIT       51726
AMT_CREDIT_SUM_OVERDUE      1616
AMT_ANNUITY                40321
dtype: int64

In [29]:
bureau.select_dtypes(include=['float64']).max()

DAYS_CREDIT_ENDDATE       3.119900e+04
DAYS_ENDDATE_FACT         0.000000e+00
AMT_CREDIT_MAX_OVERDUE    1.159872e+08
AMT_CREDIT_SUM            5.850000e+08
AMT_CREDIT_SUM_DEBT       1.701000e+08
AMT_CREDIT_SUM_LIMIT      4.705600e+06
AMT_CREDIT_SUM_OVERDUE    3.756681e+06
AMT_ANNUITY               1.184534e+08
dtype: float64

In [4]:
bureau_balance.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
SK_ID_BUREAU      int64
MONTHS_BALANCE    int64
STATUS            object
dtypes: int64(2), object(1)
memory usage: 2.1 GB

In [33]:
bureau_balance.select_dtypes(include=['int64']).nunique()

SK_ID_BUREAU      817395
MONTHS_BALANCE        97
dtype: int64

In [34]:
bureau_balance.select_dtypes(include=['object']).nunique()

STATUS    8
dtype: int64

In [48]:
float_cols = bureau.select_dtypes(include=['float64']).columns
int_cols   = bureau.select_dtypes(include=['int64']).columns
obj_cols   = bureau.select_dtypes(include=['object']).columns

for f in float_cols:
    bureau[f] = bureau[f].astype(np.float32)
    
for f in int_cols:
    if f not in ['SK_ID_CURR', 'SK_ID_BUREAU']:
        bureau[f] = bureau[f].astype(np.int16)
    else:
        bureau[f] = bureau[f].astype(np.int32)
        
for f in obj_cols:
    bureau[f] = np.array(list(map(np.int8, pd.factorize(bureau[f])[0])))

In [49]:
bureau.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
SK_ID_CURR                int32
SK_ID_BUREAU              int32
CREDIT_ACTIVE             int8
CREDIT_CURRENCY           int8
DAYS_CREDIT               int16
CREDIT_DAY_OVERDUE        int16
DAYS_CREDIT_ENDDATE       float32
DAYS_ENDDATE_FACT         float32
AMT_CREDIT_MAX_OVERDUE    float32
CNT_CREDIT_PROLONG        int16
AMT_CREDIT_SUM            float32
AMT_CREDIT_SUM_DEBT       float32
AMT_CREDIT_SUM_LIMIT      float32
AMT_CREDIT_SUM_OVERDUE    float32
CREDIT_TYPE               int8
DAYS_CREDIT_UPDATE        int16
AMT_ANNUITY               float32
dtypes: float32(8), int16(4), int32(2), int8(3)
memory usage: 83.5 MB

In [9]:
%%time

int_cols   = bureau_balance.select_dtypes(include=['int64']).columns
obj_cols   = bureau_balance.select_dtypes(include=['object']).columns
    
for f in int_cols:
    if f not in ['SK_ID_BUREAU']:
        bureau_balance[f] = bureau_balance[f].astype(np.int8)
    else:
        bureau_balance[f] = bureau_balance[f].astype(np.int32)
        
for f in obj_cols:
    bureau_balance[f] = np.array(list(map(np.int8, pd.factorize(bureau_balance[f])[0])))

CPU times: user 22.1 s, sys: 1.02 s, total: 23.2 s
Wall time: 23.2 s

In [ ]:
bureau_balance.nunique()

In [11]:
bureau_balance.nunique()

SK_ID_BUREAU      817395
MONTHS_BALANCE        97
STATUS                 8
dtype: int64

In [26]:
%%time

# credit_card_balance   = pd.read_csv(os.path.join(basepath, 'data/raw/credit_card_balance.csv.zip'))
installments_payments = pd.read_csv(os.path.join(basepath, 'data/raw/installments_payments.csv.zip'))

CPU times: user 16.2 s, sys: 946 ms, total: 17.1 s
Wall time: 17.9 s

In [37]:
credit_card_balance.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
SK_ID_PREV                    int64
SK_ID_CURR                    int64
MONTHS_BALANCE                int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL       int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT          int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS          object
SK_DPD                        int64
SK_DPD_DEF                    int64
dtypes: float64(15), int64(7), object(1)
memory usage: 875.7 MB

In [13]:
credit_card_balance.select_dtypes(include=['float64']).max()

AMT_BALANCE                   1505902.185
AMT_DRAWINGS_ATM_CURRENT      2115000.000
AMT_DRAWINGS_CURRENT          2287098.315
AMT_DRAWINGS_OTHER_CURRENT    1529847.000
AMT_DRAWINGS_POS_CURRENT      2239274.160
AMT_INST_MIN_REGULARITY        202882.005
AMT_PAYMENT_CURRENT           4289207.445
AMT_PAYMENT_TOTAL_CURRENT     4278315.690
AMT_RECEIVABLE_PRINCIPAL      1472316.795
AMT_RECIVABLE                 1493338.185
AMT_TOTAL_RECEIVABLE          1493338.185
CNT_DRAWINGS_ATM_CURRENT           51.000
CNT_DRAWINGS_OTHER_CURRENT         12.000
CNT_DRAWINGS_POS_CURRENT          165.000
CNT_INSTALMENT_MATURE_CUM         120.000
dtype: float64

In [21]:
%%time

float_cols = credit_card_balance.select_dtypes(include=['float64']).columns
int_cols   = credit_card_balance.select_dtypes(include=['int64']).columns
obj_cols   = credit_card_balance.select_dtypes(include=['object']).columns

for f in float_cols:
    if f not in ['CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 
                 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']:
        credit_card_balance[f] = credit_card_balance[f].astype(np.float32)
    else:
        credit_card_balance[f] = credit_card_balance[f].astype(np.float16)
        
for f in int_cols:
    if f in ['SK_ID_CURR', 'SK_ID_PREV', 'AMT_CREDIT_LIMIT_ACTUAL']:
        credit_card_balance[f] = credit_card_balance[f].astype(np.int32)
    elif f in ['AMT_CREDIT_LIMIT_ACTUAL', 'SK_DPD', 'SK_DPD_DEF']:
        credit_card_balance[f] = credit_card_balance[f].astype(np.int16)
    else:
        credit_card_balance[f] = credit_card_balance[f].astype(np.int8)
        
for f in obj_cols:
    credit_card_balance[f] = np.array(list(map(np.int8, pd.factorize(credit_card_balance[f])[0])))

CPU times: user 4.02 s, sys: 1.52 s, total: 5.54 s
Wall time: 5.54 s

In [22]:
credit_card_balance.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
SK_ID_PREV                    int32
SK_ID_CURR                    int32
MONTHS_BALANCE                int8
AMT_BALANCE                   float32
AMT_CREDIT_LIMIT_ACTUAL       int32
AMT_DRAWINGS_ATM_CURRENT      float32
AMT_DRAWINGS_CURRENT          float32
AMT_DRAWINGS_OTHER_CURRENT    float32
AMT_DRAWINGS_POS_CURRENT      float32
AMT_INST_MIN_REGULARITY       float32
AMT_PAYMENT_CURRENT           float32
AMT_PAYMENT_TOTAL_CURRENT     float32
AMT_RECEIVABLE_PRINCIPAL      float32
AMT_RECIVABLE                 float32
AMT_TOTAL_RECEIVABLE          float32
CNT_DRAWINGS_ATM_CURRENT      float16
CNT_DRAWINGS_CURRENT          int8
CNT_DRAWINGS_OTHER_CURRENT    float16
CNT_DRAWINGS_POS_CURRENT      float16
CNT_INSTALMENT_MATURE_CUM     float16
NAME_CONTRACT_STATUS          int8
SK_DPD                        int16
SK_DPD_DEF                    int16
dtypes: float16(4), float32(11), int16(2), int32(3), int8(3)
memory usage: 260.0 MB

In [28]:
installments_payments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
SK_ID_PREV                int64
SK_ID_CURR                int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER     int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [29]:
installments_payments.select_dtypes(include=['float64']).min()

NUM_INSTALMENT_VERSION       0.0
DAYS_INSTALMENT          -2922.0
DAYS_ENTRY_PAYMENT       -4921.0
AMT_INSTALMENT               0.0
AMT_PAYMENT                  0.0
dtype: float64

In [30]:
installments_payments.select_dtypes(include=['int64']).max()

SK_ID_PREV               2843499
SK_ID_CURR                456255
NUM_INSTALMENT_NUMBER        277
dtype: int64

In [31]:
%%time

float_cols = installments_payments.select_dtypes(include=['float64']).columns
int_cols   = installments_payments.select_dtypes(include=['int64']).columns
obj_cols   = installments_payments.select_dtypes(include=['object']).columns

for f in float_cols:
    if f not in ['NUM_INSTALMENT_VERSION', 'DAYS_INSTALMENT', 
                 'DAYS_ENTRY_PAYMENT']:
        installments_payments[f] = installments_payments[f].astype(np.float32)
    else:
        installments_payments[f] = installments_payments[f].astype(np.float16)
        
for f in int_cols:
    if f in ['SK_ID_CURR', 'SK_ID_PREV', 'SELLERPLACE_AREA']:
        installments_payments[f] = installments_payments[f].astype(np.int32)
    elif f in ['NUM_INSTALMENT_NUMBER']:
        installments_payments[f] = installments_payments[f].astype(np.int16)
    else:
        installments_payments[f] = installments_payments[f].astype(np.int8)
        
for f in obj_cols:
    installments_payments[f] = np.array(list(map(np.int8, pd.factorize(installments_payments[f])[0])))

CPU times: user 812 ms, sys: 716 ms, total: 1.53 s
Wall time: 1.54 s

In [35]:
installments_payments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
SK_ID_PREV                int32
SK_ID_CURR                int32
NUM_INSTALMENT_VERSION    float16
NUM_INSTALMENT_NUMBER     int16
DAYS_INSTALMENT           float16
DAYS_ENTRY_PAYMENT        float16
AMT_INSTALMENT            float32
AMT_PAYMENT               float32
dtypes: float16(3), float32(2), int16(1), int32(2)
memory usage: 311.4 MB

In [36]:
installments_payments.to_pickle('../data/processed/installments_payments.pkl')

In [14]:
%%time

pos_cash = pd.read_csv(os.path.join(basepath, 'data/raw/POS_CASH_balance.csv.zip'))
prev_app = pd.read_csv(os.path.join(basepath, 'data/raw/previous_application.csv.zip'))

CPU times: user 8.02 s, sys: 589 ms, total: 8.61 s
Wall time: 11.2 s

In [16]:
pos_cash.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
SK_ID_PREV               int64
SK_ID_CURR               int64
MONTHS_BALANCE           int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS     object
SK_DPD                   int64
SK_DPD_DEF               int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.1 GB

In [49]:
pos_cash.select_dtypes(include=['int64']).nunique()

SK_ID_PREV        936325
SK_ID_CURR        337252
MONTHS_BALANCE        96
SK_DPD              3400
SK_DPD_DEF          2307
dtype: int64

In [50]:
pos_cash.select_dtypes(include=['float64']).max()

CNT_INSTALMENT           92.0
CNT_INSTALMENT_FUTURE    85.0
dtype: float64

In [51]:
pos_cash.select_dtypes(include=['float64']).nunique()

CNT_INSTALMENT           73
CNT_INSTALMENT_FUTURE    79
dtype: int64

In [20]:
pos_cash.select_dtypes(include=['int64']).max()

SK_ID_PREV        2843499
SK_ID_CURR         456255
MONTHS_BALANCE         -1
SK_DPD               4231
SK_DPD_DEF           3595
dtype: int64

In [21]:
%%time

float_cols = pos_cash.select_dtypes(include=['float64']).columns
int_cols   = pos_cash.select_dtypes(include=['int64']).columns
obj_cols   = pos_cash.select_dtypes(include=['object']).columns

for f in float_cols:
    pos_cash[f] = pos_cash[f].astype(np.float16)
        
for f in int_cols:
    if f in ['SK_ID_CURR', 'SK_ID_PREV', 'SELLERPLACE_AREA']:
        pos_cash[f] = pos_cash[f].astype(np.int32)
    elif f in ['SK_DPD', 'SK_DPD_DEF']:
        pos_cash[f] = pos_cash[f].astype(np.int16)
    else:
        pos_cash[f] = pos_cash[f].astype(np.int8)
        
for f in obj_cols:
    pos_cash[f] = np.array(list(map(np.int8, pd.factorize(pos_cash[f])[0])))

CPU times: user 8.73 s, sys: 675 ms, total: 9.41 s
Wall time: 9.44 s

In [22]:
pos_cash.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
SK_ID_PREV               int32
SK_ID_CURR               int32
MONTHS_BALANCE           int8
CNT_INSTALMENT           float16
CNT_INSTALMENT_FUTURE    float16
NAME_CONTRACT_STATUS     int8
SK_DPD                   int16
SK_DPD_DEF               int16
dtypes: float16(2), int16(2), int32(2), int8(2)
memory usage: 171.7 MB

In [23]:
pos_cash.to_pickle('../data/processed/pos_cash.pkl')

In [47]:
prev_app.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
SK_ID_PREV                     1670214 non-null int64
SK_ID_CURR                     1670214 non-null int64
NAME_CONTRACT_TYPE             1670214 non-null object
AMT_ANNUITY                    1297979 non-null float64
AMT_APPLICATION                1670214 non-null float64
AMT_CREDIT                     1670213 non-null float64
AMT_DOWN_PAYMENT               774370 non-null float64
AMT_GOODS_PRICE                1284699 non-null float64
WEEKDAY_APPR_PROCESS_START     1670214 non-null object
HOUR_APPR_PROCESS_START        1670214 non-null int64
FLAG_LAST_APPL_PER_CONTRACT    1670214 non-null object
NFLAG_LAST_APPL_IN_DAY         1670214 non-null int64
RATE_DOWN_PAYMENT              774370 non-null float64
RATE_INTEREST_PRIMARY          5951 non-null float64
RATE_INTEREST_PRIVILEGED       5951 non-null float64
NAME_CASH_LOAN_PURPOSE         1670214 non-null object
NAME_CONTRACT_STATUS           1670214 non-null object
DAYS_DECISION                  1670214 non-null int64
NAME_PAYMENT_TYPE              1670214 non-null object
CODE_REJECT_REASON             1670214 non-null object
NAME_TYPE_SUITE                849809 non-null object
NAME_CLIENT_TYPE               1670214 non-null object
NAME_GOODS_CATEGORY            1670214 non-null object
NAME_PORTFOLIO                 1670214 non-null object
NAME_PRODUCT_TYPE              1670214 non-null object
CHANNEL_TYPE                   1670214 non-null object
SELLERPLACE_AREA               1670214 non-null int64
NAME_SELLER_INDUSTRY           1670214 non-null object
CNT_PAYMENT                    1297984 non-null float64
NAME_YIELD_GROUP               1670214 non-null object
PRODUCT_COMBINATION            1669868 non-null object
DAYS_FIRST_DRAWING             997149 non-null float64
DAYS_FIRST_DUE                 997149 non-null float64
DAYS_LAST_DUE_1ST_VERSION      997149 non-null float64
DAYS_LAST_DUE                  997149 non-null float64
DAYS_TERMINATION               997149 non-null float64
NFLAG_INSURED_ON_APPROVAL      997149 non-null float64
dtypes: float64(15), int64(6), object(16)
memory usage: 1.9 GB

In [9]:
prev_app.select_dtypes(include=['int64']).min()

SK_ID_PREV                 1000001
SK_ID_CURR                  100001
HOUR_APPR_PROCESS_START          0
NFLAG_LAST_APPL_IN_DAY           0
DAYS_DECISION                -2922
SELLERPLACE_AREA                -1
dtype: int64

In [10]:
%%time

float_cols = prev_app.select_dtypes(include=['float64']).columns
int_cols   = prev_app.select_dtypes(include=['int64']).columns
obj_cols   = prev_app.select_dtypes(include=['object']).columns

for f in float_cols:
    if f not in ['RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 
                 'RATE_INTEREST_PRIVILEGED', 'CNT_PAYMENT',
                 'NFLAG_INSURED_ON_APPROVAL'
                ]:
        prev_app[f] = prev_app[f].astype(np.float32)
    else:
        prev_app[f] = prev_app[f].astype(np.float16)
        
for f in int_cols:
    if f in ['SK_ID_CURR', 'SK_ID_PREV', 'SELLERPLACE_AREA']:
        prev_app[f] = prev_app[f].astype(np.int32)
    elif f in ['DAYS_DECISION']:
        prev_app[f] = prev_app[f].astype(np.int16)
    else:
        prev_app[f] = prev_app[f].astype(np.int8)
        
for f in obj_cols:
    prev_app[f] = np.array(list(map(np.int8, pd.factorize(prev_app[f])[0])))

CPU times: user 23.3 s, sys: 1.07 s, total: 24.3 s
Wall time: 24.5 s

In [11]:
prev_app.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
SK_ID_PREV                     1670214 non-null int32
SK_ID_CURR                     1670214 non-null int32
NAME_CONTRACT_TYPE             1670214 non-null int8
AMT_ANNUITY                    1297979 non-null float32
AMT_APPLICATION                1670214 non-null float32
AMT_CREDIT                     1670213 non-null float32
AMT_DOWN_PAYMENT               774370 non-null float32
AMT_GOODS_PRICE                1284699 non-null float32
WEEKDAY_APPR_PROCESS_START     1670214 non-null int8
HOUR_APPR_PROCESS_START        1670214 non-null int8
FLAG_LAST_APPL_PER_CONTRACT    1670214 non-null int8
NFLAG_LAST_APPL_IN_DAY         1670214 non-null int8
RATE_DOWN_PAYMENT              774370 non-null float16
RATE_INTEREST_PRIMARY          5951 non-null float16
RATE_INTEREST_PRIVILEGED       5951 non-null float16
NAME_CASH_LOAN_PURPOSE         1670214 non-null int8
NAME_CONTRACT_STATUS           1670214 non-null int8
DAYS_DECISION                  1670214 non-null int16
NAME_PAYMENT_TYPE              1670214 non-null int8
CODE_REJECT_REASON             1670214 non-null int8
NAME_TYPE_SUITE                1670214 non-null int8
NAME_CLIENT_TYPE               1670214 non-null int8
NAME_GOODS_CATEGORY            1670214 non-null int8
NAME_PORTFOLIO                 1670214 non-null int8
NAME_PRODUCT_TYPE              1670214 non-null int8
CHANNEL_TYPE                   1670214 non-null int8
SELLERPLACE_AREA               1670214 non-null int32
NAME_SELLER_INDUSTRY           1670214 non-null int8
CNT_PAYMENT                    1297984 non-null float16
NAME_YIELD_GROUP               1670214 non-null int8
PRODUCT_COMBINATION            1670214 non-null int8
DAYS_FIRST_DRAWING             997149 non-null float32
DAYS_FIRST_DUE                 997149 non-null float32
DAYS_LAST_DUE_1ST_VERSION      997149 non-null float32
DAYS_LAST_DUE                  997149 non-null float32
DAYS_TERMINATION               997149 non-null float32
NFLAG_INSURED_ON_APPROVAL      997149 non-null float16
dtypes: float16(5), float32(10), int16(1), int32(3), int8(18)
memory usage: 130.6 MB

In [13]:
prev_app.to_pickle('../data/processed/prev_app.pkl')

### Data Type Maps

In [22]:
%%time

# for application train and application test
app_train = pd.read_csv(os.path.join(basepath, 'data/raw/application_train.csv.zip'))
app_test  = pd.read_csv(os.path.join(basepath, 'data/raw/application_test.csv.zip'))

CPU times: user 6 s, sys: 122 ms, total: 6.12 s
Wall time: 6.13 s

In [23]:
%%time

# for int64
for col in app_test.select_dtypes(include=['int64']):
    if col == 'SK_ID_CURR':
        app_train[col] = app_train[col].astype(np.int32)
        app_test[col]  = app_test[col].astype(np.int32)
    elif col in ['DAYS_BITH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH']:
        app_train[col] = app_train[col].astype(np.int16)
        app_test[col]  = app_test[col].astype(np.int16)
    else:
        app_train[col] = app_train[col].astype(np.int8)
        app_test[col]  = app_test[col].astype(np.int8)
        
app_train['TARGET'] = app_train['TARGET'].astype(np.int8)

# for float 64
for col in app_test.select_dtypes(include=['float64']):
    app_train[col] = app_train[col].astype(np.float32)
    app_test[col]  = app_test[col].astype(np.float32)

# object cols
obj_cols = app_test.select_dtypes(include=['object']).columns
ntrain = len(app_train)
data = pd.concat((app_train, app_test))
del app_train, app_test
gc.collect();

for col in obj_cols:
    data[col] = np.array(list(map(np.int8, pd.factorize(data[col])[0])))
    
app_train = data.iloc[:ntrain]
app_test  = data.iloc[ntrain:]

app_test.drop('TARGET', axis=1, inplace=True)

CPU times: user 6.6 s, sys: 1.89 s, total: 8.49 s
Wall time: 8.5 s

In [27]:
app_train.columns.tolist()

['AMT_ANNUITY',
 'AMT_CREDIT',
 'AMT_GOODS_PRICE',
 'AMT_INCOME_TOTAL',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'APARTMENTS_AVG',
 'APARTMENTS_MEDI',
 'APARTMENTS_MODE',
 'BASEMENTAREA_AVG',
 'BASEMENTAREA_MEDI',
 'BASEMENTAREA_MODE',
 'CNT_CHILDREN',
 'CNT_FAM_MEMBERS',
 'CODE_GENDER',
 'COMMONAREA_AVG',
 'COMMONAREA_MEDI',
 'COMMONAREA_MODE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_ID_PUBLISH',
 'DAYS_LAST_PHONE_CHANGE',
 'DAYS_REGISTRATION',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'ELEVATORS_AVG',
 'ELEVATORS_MEDI',
 'ELEVATORS_MODE',
 'EMERGENCYSTATE_MODE',
 'ENTRANCES_AVG',
 'ENTRANCES_MEDI',
 'ENTRANCES_MODE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'FLAG_CONT_MOBILE',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_EMAIL',
 'FLAG_EMP_PHONE',
 'FLAG_MOBIL',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_PHONE',
 'FLAG_WORK_PHONE',
 'FLOORSMAX_AVG',
 'FLOORSMAX_MEDI',
 'FLOORSMAX_MODE',
 'FLOORSMIN_AVG',
 'FLOORSMIN_MEDI',
 'FLOORSMIN_MODE',
 'FONDKAPREMONT_MODE',
 'HOUR_APPR_PROCESS_START',
 'HOUSETYPE_MODE',
 'LANDAREA_AVG',
 'LANDAREA_MEDI',
 'LANDAREA_MODE',
 'LIVE_CITY_NOT_WORK_CITY',
 'LIVE_REGION_NOT_WORK_REGION',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_AVG',
 'LIVINGAREA_MEDI',
 'LIVINGAREA_MODE',
 'NAME_CONTRACT_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'NAME_INCOME_TYPE',
 'NAME_TYPE_SUITE',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_AVG',
 'NONLIVINGAREA_MEDI',
 'NONLIVINGAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'OCCUPATION_TYPE',
 'ORGANIZATION_TYPE',
 'OWN_CAR_AGE',
 'REGION_POPULATION_RELATIVE',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'SK_ID_CURR',
 'TARGET',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'WEEKDAY_APPR_PROCESS_START',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_AVG',
 'YEARS_BUILD_MEDI',
 'YEARS_BUILD_MODE']